/*
Sections
*/

/*--------------------------------------
Table of Contents
========================================

01. Top Bar
02. Menu bar
03. Worksapce
04. Breadcrumb
05. Footer
06. Sidebar
07. Footer Bar
08. Backdrop
--------------------------------------*/

/*
Top Bar
*/
.top-bar {
  @apply fixed top-0 z-30 flex h-20 w-full items-center bg-foreground px-4 shadow;

  .menu-toggler {
    @apply mr-2 text-3xl leading-none text-muted;

    &:hover {
      @apply text-primary;
    }
  }

  .brand {
    @apply font-heading text-2xl font-bold uppercase;
  }
}

@media screen(md) {
  .top-bar {
    @apply px-10;
  }
}

[dir='rtl'] {
  .top-bar {
    .menu-toggler {
      @apply ml-2 mr-0;
    }
  }
}

/*
Menu Bar
*/
.dark .menu-bar {
  &.menu_branded {
    .menu-items {
      .link {
        @apply border-primary-900;

        &.active {
          &:before {
            @apply bg-gray-800;
          }
        }
      }
    }
  }
}

.menu-bar {
  @apply absolute top-0 bottom-0 left-0 z-20 mt-20 leading-none;
  transition-property: margin, left, right;
  @apply duration-200 ease-linear;

  &.menu-sticky {
    @apply fixed;
  }

  .menu-header {
    a {
      @apply text-normal;
    }
  }

  /*
  Menu Items
  */
  .menu-items {
    @apply relative z-20 h-full overflow-y-auto overflow-x-hidden bg-foreground shadow;
    width: 130px;
    transition-property: width;
    @apply duration-200 ease-linear;

    .link {
      @apply relative block w-full border-b border-divider px-5 py-6 text-center text-normal;
      transition-property: color;
      @apply duration-200 ease-linear;

      .icon {
        @apply inline-block text-4xl leading-none;
      }

      .title {
        @apply mt-2 block opacity-100;
        @apply transition-all duration-200 ease-linear;
      }

      &:hover {
        @apply text-primary;
      }

      &.active {
        @apply text-primary;

        &:before {
          @apply absolute top-0 bottom-0 left-0 my-4 block rounded-tr-full rounded-br-full bg-primary;
          content: '';
          width: 5px;
        }
      }
    }
  }

  /*
  Menu Detail
  */
  .menu-detail {
    @apply absolute top-0 bottom-0 z-10 overflow-y-scroll bg-foreground p-10;
    left: -220px;
    width: 220px;
    @apply transition-all duration-200 ease-linear;

    &.open {
      @apply shadow;
      left: 130px;
    }

    a,
    button {
      @apply mb-5 flex items-center whitespace-nowrap text-normal;

      span {
        @apply mr-2 text-2xl leading-none text-muted;
      }

      &:hover,
      &.active {
        @apply text-primary;

        span {
          @apply text-primary;
        }
      }
    }

    hr {
      @apply mb-5;
    }

    .collapse-header {
      .collapse-indicator {
        @apply transition-all duration-200 ease-linear;
      }

      &.active {
        .collapse-indicator {
          @apply -rotate-180 transform;
        }
      }
    }

    .collapse {
      @apply ml-8;
    }

    h6 {
      @apply mb-3;
    }
  }

  &.menu-hidden {
    margin-left: -130px;
    left: -130px;
  }

  &.menu-icon-only {
    .menu-items {
      width: 80px;

      .link {
        .title {
          @apply mt-0 opacity-0;
          font-size: 0;
        }
      }
    }

    .menu-detail {
      &.open {
        left: 80px;
      }
    }

    &.menu-hidden {
      margin-left: -80px;
      left: -80px;
    }
  }

  &.menu-wide {
    .menu-items {
      width: 310px;

      .link {
        @apply flex items-center border-b-0 px-8 py-2;

        .icon {
          @apply text-2xl leading-none;
        }

        .title {
          @apply mt-0 ml-2 inline;
        }

        &.active {
          &:before {
            @apply my-2;
          }
        }
      }

      .menu-detail {
        @apply static w-full pt-0 pb-0 pl-16 pr-7;

        .menu-detail-wrapper {
          @apply overflow-y-scroll pt-3 pb-0;
        }

        &.open {
          @apply shadow-none;
        }
      }
    }

    &.menu-hidden {
      margin-left: -310px;
      left: -310px;
    }
  }

  &.menu_branded {
    .menu-header {
      div {
        @apply text-component;
      }

      hr {
        @apply border-primary-700;
      }
    }

    .menu-items {
      @apply bg-primary;

      .link {
        @apply border-primary-700 text-component text-opacity-80;

        &:hover {
          @apply text-component;
        }

        &.active {
          @apply text-component;

          &:before {
            @apply bg-white;
          }
        }
      }
    }

    &.menu-wide {
      .menu-detail {
        @apply bg-primary;

        a,
        button {
          @apply text-component text-opacity-80;

          span {
            @apply text-component text-opacity-80;
          }

          &:hover,
          &.active {
            @apply text-component;

            span {
              @apply text-component;
            }
          }
        }

        hr {
          @apply border-primary-700;
        }

        h6 {
          @apply text-component;
        }
      }
    }
  }
}

@media screen(sm) {
  .menu-bar {
    @apply relative;

    &.menu-sticky {
      @apply sticky top-20;
      height: calc(100vh - 5rem);
    }

    .menu-detail {
      left: -300px;
      width: 300px;
    }
  }
}

[dir='rtl'] {
  .menu-bar {
    @apply right-0 left-auto;

    .menu-items {
      a {
        &.active {
          &:before {
            @apply right-0 left-auto rounded-tl-full rounded-tr-none rounded-bl-full rounded-br-none;
          }
        }
      }
    }

    .menu-detail {
      @apply left-auto;
      right: -220px;

      &.open {
        @apply left-auto;
        right: 130px;
      }

      a {
        span {
          @apply ml-2 mr-0;
        }
      }

      .collapse {
        @apply ml-0 mr-8;
      }
    }

    &.menu-hidden {
      @apply left-auto ml-0;
      margin-right: -130px;
      right: -130px;
    }

    &.menu-icon-only {
      .menu-detail {
        &.open {
          @apply left-auto;
          right: 80px;
        }
      }

      &.menu-hidden {
        @apply left-auto ml-0;
        margin-right: -80px;
        right: -80px;
      }
    }

    &.menu-wide {
      .menu-items {
        .link {
          .title {
            @apply ml-0 mr-2;
          }
        }

        .menu-detail {
          @apply pr-16 pl-7;
        }
      }

      &.menu-hidden {
        @apply left-auto ml-0;
        margin-right: -310px;
        right: -310px;
      }
    }
  }

  @media screen(sm) {
    .menu-bar {
      .menu-detail {
        @apply left-auto;
        right: -300px;
      }
    }
  }
}

/* 
Workspace
*/
.workspace {
  @apply relative flex flex-auto flex-col px-5 pt-5; /** mt-20 */

  &_with-sidebar {
    @apply overflow-y-auto;
    height: calc(100vh - 5rem);
  }
}

@media screen(md) {
  .workspace {
    @apply px-10 pt-10;
  }
}

/*
Breadcrumb
*/
.breadcrumb {
  @apply mb-5;

  ul {
    @apply flex items-center;

    li,
    a {
      @apply flex items-center;
    }

    .divider {
      @apply mx-1 text-muted;
    }

    a {
      @apply text-muted;

      &:hover {
        @apply text-primary;
      }
    }
  }

  &_alt {
    @apply rounded-xl bg-foreground bg-opacity-20 shadow;

    ul {
      @apply flex items-center;
    }
  }
}

/* 
Footer
*/
.dark .footer {
  .divider {
    @apply text-gray-700;
  }
}

.footer {
  @apply mt-10 flex flex-auto items-center border-t border-border py-5 font-heading text-sm leading-none;

  nav {
    @apply ml-auto;
  }

  .divider {
    @apply mx-2 text-gray-300;
  }
}

[dir='rtl'] {
  .footer {
    nav {
      @apply ml-0 mr-auto;
    }
  }
}

/*
Sidebar
*/
.dark .sidebar {
  &_customizer {
    .themes {
      button {
        .color {
          @apply border-gray-900;
        }
      }
    }
  }
}

.sidebar {
  @apply fixed bottom-0 top-20 z-20 flex flex-shrink-0 flex-col bg-foreground shadow;
  right: -320px;
  width: 320px;
  transition-property: right, left;
  @apply duration-200 ease-linear;

  &.open {
    transition-property: right, left;
    @apply right-0 duration-200 ease-linear;
  }

  &-toggler {
    @apply absolute top-0 right-full flex h-10 w-10 items-center justify-center bg-foreground p-2 text-4xl leading-none shadow;
  }

  &_customizer {
    @apply top-0 z-50;

    .toggler-wrapper {
      @apply absolute right-full top-1/2 flex -translate-y-1/2 items-center;

      .toggler,
      .randomizer {
        @apply h-10 w-14 rounded-l-xl bg-primary p-2 text-2xl leading-none text-component shadow;
      }
    }

    .themes {
      @apply mt-5 grid grid-cols-3 gap-4;

      button {
        @apply flex flex-col items-center space-y-2 rounded-lg border border-divider p-4 shadow-lg;

        &:hover,
        &.active {
          @apply border-primary;
        }

        .color {
          @apply h-8 w-8 rounded-full border-2 border-white shadow-md;
        }
      }

      &.fonts {
        @apply grid-cols-1;

        button {
          @apply items-start space-y-0 text-left;
        }
      }
    }
  }
}

@media screen(lg) {
  .sidebar {
    &:not(.sidebar_customizer) {
      @apply sticky z-10;
      height: calc(100vh - 5rem);

      .sidebar-toggler {
        @apply hidden;
      }
    }
  }
}

[dir='rtl'] {
  .sidebar {
    @apply right-auto;
    left: -320px;

    &.open {
      @apply left-0 right-auto;
    }

    &-toggler {
      @apply right-auto;
      left: 100%;
    }

    &_customizer {
      .sidebar-toggler {
        @apply rounded-tl-none rounded-bl-none rounded-tr-xl rounded-br-xl;
      }
    }
  }
}

/*
Footer Bar
*/
.footer-bar {
  @apply fixed bottom-0 left-0 right-0 z-10 flex h-20 items-center bg-foreground px-5 shadow;
  transition-property: left, right;
  @apply duration-200 ease-linear;
}

@media screen(sm) {
  .footer-bar {
    @apply px-10;
    left: 130px;

    &.absolute {
      @apply left-0 right-0;
    }
  }

  .menu-icon-only {
    .footer-bar {
      left: 80px;

      &.absolute {
        @apply left-0 right-0;
      }
    }
  }

  .menu-wide {
    .footer-bar {
      left: 310px;

      &.absolute {
        @apply left-0 right-0;
      }
    }
  }
}

.menu-hidden {
  .footer-bar {
    @apply left-0 right-0;
  }
}

[dir='rtl'] {
  @media screen(sm) {
    .footer-bar {
      @apply left-0;
      right: 130px;

      &.absolute {
        @apply left-0 right-0;
      }
    }
  }

  @media screen(sm) {
    &.menu-icon-only {
      .footer-bar {
        @apply left-0;
        right: 80px;

        &.absolute {
          @apply left-0 right-0;
        }
      }
    }

    &.menu-wide {
      .footer-bar {
        @apply left-0;
        right: 310px;

        &.absolute {
          @apply left-0 right-0;
        }
      }
    }
  }

  &.menu-hidden {
    .footer-bar {
      @apply left-0 right-0;
    }
  }
}

/*
Backdrop
*/
.dark .backdrop {
  &.active {
    @apply opacity-30;
  }
}

.backdrop {
  @apply fixed top-0 bottom-0 left-0 right-0 z-40 bg-black opacity-0;
  @apply transition-opacity duration-200 ease-linear;

  &.active {
    @apply opacity-10;
  }

  &_workspace {
    @apply z-10;
  }
}
